In [11]:
import pandas as pd
import numpy as np

In [13]:
#since we want to conduct analysis on grids, we shall use the grid dataset containing all flickr posts within for filtering
filtered_new = pd.read_csv("lemmatised_500m_grid_posts.csv")

#load words from topic modelling
topic_words = pd.read_csv("top_words_500m_lemmatised.csv")


#add header to topic_words csv
topic_words.columns = ['PageNumber', 'tag','probability']

#filtered_new
topic_words

      PageNumber             tag  probability
0              0           leith     0.068133
1              0           light     0.032096
2              0    waterofleith     0.025339
3              0  urbanlandscape     0.020834
4              0          nature     0.018582
...          ...             ...          ...
2714           3           venue     0.000736
2715           3          square     0.000736
2716           3          museum     0.000736
2717           3            sity     0.000736
2718           3      blackwhite     0.000736

[2719 rows x 3 columns]

In [14]:
#convert to string to apply operations
filtered_new = filtered_new.applymap(str)

In [15]:
def remove_custom_words(phrase, words_to_keep_list):
    """function for passing each tag in a list and string matching to another defined list """
    return([elem for elem in phrase.split(' ') if elem in words_to_keep_list])

#this is saying let's take each row in the column
#apply function above to each row/x
#output this as a new column
#note: topic_words['tag'] first turned into a list to allow iteration to line up with 'lemmatised_tags' column
filtered_new['top_words_only'] = filtered_new['lemmatised_tags'].apply(lambda x: remove_custom_words(x,topic_words['tag'].to_list()))

In [16]:
#unlisting list
#take each row in df and convert list to dictionary, then take the keys from it
#finally join together with whitespace 
filtered_new['top_words_only'] = filtered_new['top_words_only'].apply(lambda x: ' '.join(dict.fromkeys(x).keys()))

In [17]:
#remove NA rows
#first convert empty strings to NaN
filtered_new['top_words_only'] = filtered_new['top_words_only'].replace(r'^s*$', float('NaN'), regex = True)

#remove NaNs
filtered_new = filtered_new.dropna(subset=['top_words_only'])

filtered_new
#ok so all the grids with only the topic modelling extracted words

In [19]:
filtered_new.to_csv("analysis_data_end_of_stage_2.csv")